h1{
    text-align: center;
    color: #f45d48;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 500;
    font-style: normal;
   
}
body{
    background-color:#232946;
}
h2{
    color: #f45d48;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.ava:hover{
    transform: scale(1.1);
    transition: ease-in-out 2s;
}
.aga{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ava{
    height: 130px;
    width: 120px;
    border: 5px solid #FFFFFF ;
    background-color: #fbdd74;
    text-align: center;
    border-radius: 20%;
    font-size: 15px;
}
.ava img{
    height: 50px;
    padding-left: 0px 50px;
}
.ava button{
    border-radius: 20px;
    background-color: #ff6e6c;
}
.ava button:hover{
    background-color: #969191;
    transition: 1s;
}
@media screen and (max-width: 600px) {
    body {
        background-color:#232946;
    }
.ava{
    height: 120px;
    width: 100px; 
    border-radius: 20%;
    margin: 5px 5px;
    font-size: 10px;
}
.ava img{
    height: 30px;
}
.ava button{
    height: 30px;
    font-size: 10px;
}
.ava:hover{
    transform: scale(0.9);
    transition: ease-in-out 2s;
}
.ava button:hover{
    background-color: #ac9595;
}
.indi{
    height: 400px;
}
.foo3t{
margin-top: 100px;
}
  }
  @media only screen and (min-width: 1024px) {
    body {
      background-color: #232946;
    }
  }
  .foo3t{
    text-align: center;
    color: #f45d48;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    height: 125px;
  }
  .indi{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 flex-wrap: wrap;
}
  
  